@import "_variables";
// Mixin para sombra
@mixin shadow($x, $y, $blur, $color) {
    box-shadow: $x $y $blur $color;
}

// Mixin para texto justificado con sombra de texto
@mixin justified-text-with-shadow() {
    text-align: justify;
    text-shadow: 2px 2px 4px black;
}

// Mixin para estilos de botón
@mixin button-styles() {
    background-color: $primary-color;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;

    &:hover {
        background-color: #0056b3;
        /* Azul más claro al pasar el ratón */
    }
}

// Mixin para estilos de tarjeta
@mixin card-styles() {
    background-color: #fff;
    border-radius: 8px;
    @include shadow(0px, 4px, 8px, rgba(0, 0, 0, 0.1));
    padding: 20px;
}